[user]
    email = yoshiharu2580@gmail.com
    name = kato-yoshiharu
[alias]
	cbn = !sh ~/.commands/check-branch-name.sh
	ptb = !sh ~/.commands/push-trial-branch.sh
	cfa = !sh ~/.commands/git-confirm-filename-add.sh
	cfr = !sh ~/.commands/git-confirm-filename-rename.sh
	cc = !sh ~/.commands/git-confirmed-commit.sh
	ctd = !sh ~/.commands/git-check-trial-diff.sh
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/development/suimenkathemove/dotfiles/git/hooks
[credential]
	helper = store
[mailmap]
	file = ~/.mailmap
[status]
	showUntrackedFiles = all
[branch]
	autoSetupMerge = simple
